.todo-container {
  border-radius: 6px;

  > :first-child {
    border-radius: 6px 6px 0px 0px;
  }

  > :nth-child(odd) {
    background-color: darken($color: #f5f6f7, $amount: 4);
  }

  > :nth-child(even) {
    background-color: darken($color: #f5f6f7, $amount: 0);
  }

  > :last-child {
    border-radius: 0px 0px 6px 6px;
  }
}
